<html>
    <body>

        <h1>Hello, Assalamualaikum, How You All</h1>
<!--         ye /submit match karna chahye @app.route ki arg se-->
    <form action="/submit" method="post">
        <label for="Science">Science</label> <br>
        <input type="text" id="science" name="science" value="0"><br><br>
        <label for="Maths">Maths</label>
<br>
        <input type="text" id="maths" name="maths" value="0"><br> <br>
        <label for="C">C</label> <br>
        <input type="text" id="c" name="c" value="0"><br> <br>
        <label for="datascience">Data Science</label> <br>
        <input type="text" id="datascience" name="datascience" value="0"><br>
        <input type="submit" value="Submit">

    </form>
    <p>submit this form: </p>
    </body>
</html>